.upload-box{
  /* border: 1px solid red; */
  width: 50vw;
  justify-self: center;
  border: 1px solid #80808048;
  border-radius: .8em;
  margin-top: 5em;
  flex-direction: column;
  gap: 2em;
}

.upload-header-container{
  display: flex;
}

.upload-header-container h1{
  flex: 1;
}

.image{
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: .3em;
}

.imageName{
  flex: 1;
}
.action-btn-container{
  display: flex;
  justify-content: space-between;
}